@include mediaXl {

}

@include mediaLg {

}

@include mediaMd {
    main {
        align-items: center;
        text-align: center;
        
    }
}

@include mediaSm {
    main {
        align-items: center;
        text-align: center;
      
        
    }
}