@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";


@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}

#right-moon {
    animation: moon 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    opacity: 1000px;
    
}

@keyframes moon {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

#night-shadow {
    animation: shadow 1s ease-in-out infinite alternate;
    will-change: transform;
    transform-origin: center;
    transform-box: fill-box;
    transform-origin: bottom;
    opacity: 1000px;
    
}

@keyframes shadow {
    from{
        transform: scale(1, 0.9);
    }
    to {
        transform: scale(1.1, 1.1);
    }
}

#min-fire {
    animation: fire 3s infinite linear;
    transform-origin: bottom;
    
    transform: scale(1.2, 1.2);
    
}

@keyframes fire{
    from{
        transform: scale(1, 1.5);
    }
    to {
        transform: scale(1, 1);
    }
}