@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #524343;
}

.header {
  display: block;
}
.header__nav {
  height: 5rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #a2d0e2;
}
.header__nav__bar {
  display: flex;
  padding: 0 12px;
  justify-content: space-between;
  font-size: 1.6rem;
}

hr {
  margin-top: 50px;
  margin-bottom: 20px;
  border: 3px solid;
  color: #a2d0e2;
  align-items: center;
}

li {
  display: inline-block;
  list-style-type: none;
}

.header__nav__bar a {
  color: #241d1d;
  padding: 15px;
  margin-right: 10px;
  text-decoration: none;
}

a:hover {
  color: royalblue;
}

.header .logo {
  width: auto;
  height: auto;
  margin: 20px;
}

.img-logo {
  display: flex;
  float: right;
  max-width: 100%;
  height: auto;
  margin-top: 120px;
}

.arrow {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.header__section {
  height: 70vh;
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.header__section__article {
  justify-content: left;
  font-size: 1.3rem;
}

.main {
  width: 100%;
}
.main__section {
  display: flex;
  justify-content: space-evenly;
}
.main__section__article {
  text-align: left;
  border: 2px solid #a2d0e2;
  padding: 50px;
  margin: 5px;
  border-radius: 10px;
}
.main__section__article h3 {
  font-size: 30px;
}
.main__section__article p {
  font-size: 22px;
}

.btn {
  background-color: #ddd;
  border: 2px solid #a2d0e2;
  color: black;
  padding: 17px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: #a2d0e2;
  color: black;
}

h2 {
  text-align: center;
  padding: 30px;
  font-size: 2rem;
}

.tech__icon {
  min-height: 160px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 3px solid #a2d0e2;
  border-radius: 10px;
  margin-bottom: 50px;
  justify-content: space-evenly;
  margin: 10px;
}
.tech__icon li {
  border: 2px solid #a2d0e2;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px;
  font-size: 60px;
}

.main__section2 {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px 40px;
  margin: 10px;
  border: 3px solid #a2d0e2;
  border-radius: 10px;
}
.main__section2 img {
  height: 300px;
  width: 400px;
  display: flex;
  border: 3px solid #a2d0e2;
  border-radius: 20px;
}
.main__section2 h3 {
  font-size: 25px;
  margin-top: 10px;
}
.main__section2 p {
  font-size: 20px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.main__section2__article {
  display: block;
  justify-content: space-evenly;
  padding: 10px 30px;
}

footer {
  display: block;
  margin-top: 40px;
  padding-top: 40px;
}
footer section {
  height: 80vh;
  display: flex;
  justify-content: center;
}
footer section form {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 30%;
  align-items: left;
  justify-content: space-evenly;
  border: 3px solid #a2d0e2;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px;
  padding-top: 40px;
}
footer section form input {
  height: 40px;
  border: 3px solid #a2d0e2;
  border-radius: 10px;
}
footer section form textarea {
  border: 3px solid #a2d0e2;
  border-radius: 10px;
}
footer section form .btn {
  margin-right: 100px;
  height: auto;
  width: 130px;
  align-items: center;
  text-align: center;
}
footer article {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  color: #439ec2;
  flex-direction: row;
  height: 80px;
  width: auto;
  margin-bottom: 0;
  align-items: center;
  border: 3px solid #a2d0e2;
  border-radius: 10px;
  font-size: 25px;
}
footer article a {
  color: #439ec2;
  margin: 10px;
}
footer article i {
  justify-content: center;
}

#right-moon {
  animation: moon 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
  opacity: 1000px;
}

@keyframes moon {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateX(180deg);
  }
}
#night-shadow {
  animation: shadow 1s ease-in-out infinite alternate;
  will-change: transform;
  transform-origin: center;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes shadow {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
#min-fire {
  animation: fire 1s infinite linear;
  transform-origin: bottom;
  transform: scale(1.2, 1.2);
}

@keyframes fire {
  from {
    transform: scale(1, 1.5);
  }
  to {
    transform: scale(1, 1);
  }
}
@media screen and (max-width: 520px) {
  body {
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    line-height: 1;
    grid-template-columns: 4fr;
    width: 100%;
  }

  .header__nav__bar {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }

  .header__section h3 {
    font-size: 1.5rem;
    margin-top: -400px;
    margin-bottom: 20px;
  }

  .header__section p {
    font-size: 1rem;
    margin-bottom: -2000px;
    line-height: 1.5;
  }

  .arrow {
    margin-top: -450px;
  }

  .img-logo {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: 20px;
    margin: 10px;
  }

  .main {
    height: auto;
    width: 100%;
  }

  .main h2 {
    font-size: 1.5rem;
  }

  .tech__icon {
    font-size: 15px;
    grid-template-columns: 2fr;
  }

  .main__section__article {
    flex-direction: column;
  }

  .main h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .main p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .article__aside img {
    width: 100%;
    height: auto;
  }

  main .btn {
    font-size: 1rem;
  }

  .article__aside p {
    width: 100%;
    height: auto;
    font-size: 1rem;
  }

  .article__aside h3 {
    width: 100%;
    height: auto;
    font-size: 1.3rem;
    margin-top: 40px;
  }
}
.main__section2 {
  flex-direction: column;
  font-size: 10px;
  width: 100%;
  height: auto;
}

.main__section2__article {
  flex-direction: column;
  font-size: 10px;
  width: 100%;
}

.footer__section__form {
  flex-direction: column;
  width: 400px;
  margin-bottom: -500px;
}

.footer__article {
  flex-direction: column;
  width: auto;
  height: auto;
  font-size: 1.5rem;
}

.footer__article p {
  font-size: 1.2rem;
  margin: 20px;
  text-align: center;
}

.footer .btn {
  font-size: 1rem;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .main__section {
    flex-direction: column;
  }

  .tech__icon {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main__section {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
