@use 'variables' as var;
@use 'mixins' as mix;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 15px/1.5 Arial, Helvetica,sans-serif;
	background-color: #ffffff;
    color: #524343;
    
}

.header {
    display: block;

    &__nav {
        height: 5rem;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: rgb(162, 208, 226);

        &__bar {
            display: flex;
            padding: 0 12px;
            justify-content: space-between;
            font-size: 1.6rem;  
            
        }
    
    }

    
}
hr {
    margin-top: 50px;
    margin-bottom: 20px;
    border: 3px solid;
    color: rgb(162, 208, 226);
    align-items: center;
}

li {
    display: inline-block;
    list-style-type: none;
    
}
.header__nav__bar a {
    color: #241d1d;
    padding: 15px;
    margin-right: 10px;
    text-decoration: none;
}

a:hover {
    color: royalblue;
}

.header .logo {
    width: auto;
    height: auto;
    margin: 20px;
    
}
.img-logo {
    display: flex;
    float: right;
    width: auto;
    height: auto;
    display: block;
    margin-top: 120px;
    
    
}
.arrow {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
 .header__section {
     height: 70vh;
     width: auto;
     display: flex;
     justify-content: space-between;
     padding: 0 10px;
     align-items: center;
     &__article {
        justify-content: left;
        font-size: 1.3rem;
     }
 }

 .main {
     width: 100%;
     overflow: hidden;

     &__section {
        display: flex;
        justify-content: space-evenly;
        &__article {
            text-align: left;
            border: 2px solid rgb(162, 208, 226);
            padding: 50px;
            margin: 5px;
            border-radius: 10px;
            & h3 {
                font-size: 30px;
            }
            & p
            {
                font-size: 22px;
            }
     }
     
     }
 }
 
 .btn {
    background-color: #ddd;
    border: 2px solid rgb(162, 208, 226);;
    color: black;
    padding: 17px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    
    &:hover {
        background-color:rgb(162, 208, 226);
        color: black;
    }
 }


 h2 {
     text-align: center;
     padding: 30px;
     font-size: 2rem;
 }
 .tech__icon {
     min-height: 160px;
     align-items: center;
     display: flex;
     justify-content: center;
     border: 3px solid rgb(162, 208, 226);
     border-radius: 10px;
     margin-bottom: 50px;
     justify-content: space-evenly;
     
     & li{   
        border: 2px solid rgb(162, 208, 226);
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px;
        font-size: 60px;
        
    }
 }

 .main__section2 {
     display: flex;
     flex-direction: column;
     height: auto;
     padding: 20px 40px;
     margin: 10px;
     border: 3px solid rgb(162, 208, 226);
     border-radius: 10px;

     & img {
        height: 300px;
        width: 400px;
        display: flex;
        border: 3px solid rgb(162, 208, 226);
        border-radius: 20px;
    }

    & h3 {
        font-size: 25px;
        margin-top: 10px;
    }
    & p {
        font-size: 20px;
        width: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
     &__article {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 30px;
        
 }
    }

 footer {
     display: block;
     margin-top: 40px;
     padding-top: 40px;
     

     & section {
        height: 80vh;
        display: flex;
        justify-content: center;
      

        & form {
            display: flex;
            flex-direction: column;
            height: 80%;
            width: 30%;
            align-items: left;
            justify-content: space-evenly;
            border: 3px solid rgb(162, 208, 226);
            border-radius: 10px;
            font-size: 20px;
            padding: 20px;
            padding-top: 40px;
            
            
            & input {
                height: 40px;
                border: 3px solid rgb(162, 208, 226);
                border-radius: 10px;
            }
            & textarea {
                border: 3px solid rgb(162, 208, 226);
                border-radius: 10px;
            }
            & .btn {
                margin-right: 100px;
                height: auto;
                width: 130px;
                align-items: center;
                text-align: center;
            }
        }
        
    }
    & article {
        display: flex;
        justify-content: center;
        margin: 0 20px;
        color: rgb(67, 158, 194);
        flex-direction: row;
        height: 80px;
        width: auto;
        margin-bottom: 0;
        align-items: center;
        border: 3px solid rgb(162, 208, 226);
        border-radius: 10px;
        font-size: 25px;

        & a {
            color: rgb(67, 158, 194);
            margin: 10px;
        }
        & i {
            justify-content: center
            
        }
        
    } 
 }
 
 #right-moon {
    animation: moon 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    opacity: 1000px;
    
}

@keyframes moon {
    from {
        transform: rotateZ(180deg);
    }
    to {
        transform: rotateX(180deg);
    }
}

#night-shadow {
    animation: shadow 1s ease-in-out infinite alternate;
    will-change: transform;
    transform-origin: center;
    transform-box: fill-box;
    transform-origin: bottom;
   
    
}

@keyframes shadow {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

#min-fire {
    animation: fire 1s infinite linear;
    transform-origin: bottom;
    
    transform: scale(1.2, 1.2);
    
}

@keyframes fire{
    from{
        transform: scale(1, 1.5);
    }
    to {
        transform: scale(1, 1);
    }
}